.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(245, 245, 237);
}
.myInformation {
}
.tableDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.table {
  width: 80%;
  height: 40%;
}
th {
  background-color: rgb(205, 205, 200);
}
tr {
  width: 100%;
  text-align: center;
}
.방명록감싸는거 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.방명록 {
  flex-direction: column;
  width: 80%;
  padding: 30px;
  background-color: rgb(224, 230, 230);
}
.방명록인풋 {
  width: 400px;
}
button {
  margin: 10px;
}
.hoverImage {
  display: none;
  position: absolute;
  left: 40%;
}

.poster:hover .hoverImage {
  display: block;
}

.movieTitle {
  margin-left: 2%;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}
